*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:
radial-gradient(circle at top,
#0f172a 0%,
#020617 45%,
#000000 100%);
color:#fff;
min-height:100vh;
}

.profile-box{
position:fixed;
top:20px;
left:20px;
z-index:999;
}

.profile-box img{
width:90px;
height:90px;
border-radius:50%;
object-fit:cover;
border:3px solid #00ff41;
box-shadow:
0 0 10px #00ff41,
0 0 25px #00ff41;
}

.header{
text-align:center;
padding:40px 20px;
background:rgba(0,0,0,.4);
backdrop-filter:blur(10px);
border-bottom:1px solid rgba(255,255,255,.1);
}

.header h1{
font-size:32px;
color:#00ff41;
}

.welcome{
margin-top:10px;
color:#d1d5db;
}

.grid{
max-width:1200px;
margin:30px auto;
padding:15px;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
}

.card{
background:rgba(255,255,255,.05);
backdrop-filter:blur(10px);
border:1px solid rgba(255,255,255,.1);
border-radius:20px;
padding:20px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-5px);
border-color:#00ff41;
box-shadow:0 0 20px rgba(0,255,65,.3);
}

.icon{
font-size:40px;
margin-bottom:10px;
}

.card h3{
margin-bottom:15px;
}

.card a{
display:block;
padding:12px;
background:#00ff41;
color:#000;
text-decoration:none;
border-radius:12px;
font-weight:bold;
}

.footer{
text-align:center;
padding:30px;
margin-top:30px;
color:#999;
}

@media(max-width:900px){
.grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.grid{
grid-template-columns:1fr;
}

.profile-box img{
width:70px;
height:70px;
}
  }
