body{
background:white;
color:black;
font-family:tahoma;
}

.title{
text-align:center;
margin-top:40px;
}

.subtitle{
text-align:center;
margin-bottom:30px;
}

.grid{
width:90%;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
}

.course-btn{
background:black;
color:white;
text-decoration:none;
padding:20px;
border-radius:10px;
text-align:center;
}

.course-btn:hover{
opacity:.85;
}

@media(max-width:700px){

.grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:500px){

.grid{
grid-template-columns:1fr;
}

}
